<!DOCTYPE html>
<html>
<head>
<title>{{ site.title }}</title>
<link rel="stylesheet" href="/styles.css">
<script src="/dark.js"></script>
<meta name="robots" content="noindex, nofollow" />
<meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1, user-scalable=0" />
</head>
<body>
<div id="top" class="card">
<div id="header" class="header">
<table>
    <tr>
    <td class="logo"><a href="/"><img src="/logo.png"></a></td>
    <td>
        <h1>{{ site.title }}</h1>
        <small>
        {% if site.desc is defined and site.desc != None %}
            <p>{{ site.desc }}</p>
        {% endif %}
        {% if site.links is defined %}{% for text in site.links %}
            {{ text }}.
        {% endfor %}{% endif %}
        </small>
    </td>
    </tr>
</table>
</div>
<div id="body" class="toc">
<table>
    {% if site.html is defined and site.html != None %}
        <tr> {{ site.html }} </tr>
    {% endif %}
    {% for item in tofc -%}
        <tr class="aref"><td class="date">{{ item.date }}</td><td><a href="/{{ item.id_ }}" class="name">{{ item.title }}</a>
        {%- if item.desc is defined and item.desc != None %} - <span class="desc">{{ item.desc }}</span>{% endif -%}
    </td></tr>
    {% endfor %}
</table>
</div>
</div>
</body>
</html>
