body {
    color: #1E2022;
    background-color: #F0F5F9;
    font-family: 'Droid Mono', 'Monaco', 'Consolas', 'Courier New', Courier, monospace;
    margin: 0 auto;
    padding: 0;
    font-size: 0.8rem;
}

a {
    color: #63748d;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* page content container rules */
#top {
    margin: 0 auto 1rem auto;
    max-width: 640px;
}

.card {
    background-color: #F0F5F9;
    border-color: #52616B;
    border-radius: 8px;
}
.card pre {
    background-color: #C9D6DF;
    padding: 0.8rem 1rem;
    margin: 0 -1rem 1rem -1rem;
    overflow: auto;
}
.card code {
    background-color: #C9D6DF;
    padding: 2px;
    border-radius: 4px;
}
.card pre code {
    padding: initial;
    border-radius: initial;
}
.card #header {
    border-left: solid 1px;
    border-right: solid 1px;
    border-radius: 0;
    padding: 1rem;
}
.card #header p,
.card #header h1,
.card #header h2,
.card #header h3,
.card #header h4,
.card #header h5,
.card #header h6 {
    margin-top: 0;
    margin-bottom: 0;
}
.card #header tr {
    vertical-align: middle;
}
.card #header td {
    padding: 0;
}
.card #header td.logo {
    padding: 0 1rem 0 0;
}
.card #header td.logo img {
    width: 72px;
}
.card #body {
    border: solid 1px;
    border-top: dotted 1px;
    border-radius: 0 0 8px 8px;
    padding: 0 1rem;
}
.card #body p {
    line-height: 1.33rem;
}
.card #body.toc {
    padding: 1rem;
}
.card #body.toc td {
    padding: 0;
    vertical-align: top;
}
.card #body.toc td.date {
    width: 72px;
    padding: 0 1rem 0 0;
}
.card #footer {
    border: none;
    font-size: x-small;
    margin: 1rem auto;
    padding: 0 1rem;
}
.card #footer .info {
    float: right;
    opacity: 0;
}
.card #footer .info:hover {
    opacity: inherit;
}

/* screen size overrides */
@media screen and (max-width: 640px) {
  .card #body, .card #header {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

/* dark mode overrides */
#dark-button {
    font-size: x-small;
    opacity: 0%;
    float: right;

}
#dark-button:hover {
    opacity: 100%;
}
.dark {
    color: #F0F5F9;
    background-color: #0f1117;
}
.dark code, .dark pre {
    color: #C9D6DF;
    background-color: #1E2022;
}
.dark .card #header td.logo img {
    -webkit-filter: invert();
    filter: invert();
}